<%= turbo_stream_from(:restaurants) %>
<div>
    <%= turbo_frame_tag "restaurants", class: "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 m-2 gap-2" do %>
        <% @restaurants.each do |restaurant| %>
            <%= render restaurant %>
        <% end %>
    <% end %>
</div>