<%= turbo_stream_from(:restaurants) %>
<div class="container mx-auto pb-4">
    <div class="max-w-5xl mx-auto bg-tertiary shadow-md p-8 mt-2 rounded">
        <%= @restaurant.name %>
    <%= turbo_frame_tag "restaurants", class: "grid grid-cols-4 md:grid-cols-6 lg:grid-cols-8 m-2 gap-2" do %>
        <% @restaurant.devices.order(:device_type).each do |device| %>
            <%= render device %>
        <% end %>
    <% end %>
    </div>
</div>